<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title>How troop life ended</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">
    <img src="https://wallpapercave.com/wp/wp4819743.jpg" alt="image">
    <div class="container-text">
      <h2>How your troop life ended?</h2>
      <p>Enter your name or gaming name to see how your life as a clash of clans troop ended. <br> </p> 
     <form action = "/" method = "post" >
   <input id="name" name="name" type="text" placeholder="Name">
      <button type="submit">Submit</button>
      </form>      
      <span class ="tail" >This material is unofficial and is not endorsed by Supercell. For more information see Supercell's Fan Content Policy: www.supercell.com/fan-content-policy.</span>
      <a class = "tail" href="pp.html" >privacy policy</a>
  </div>
  </div>  
</body>
</html>
