<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title>How troop life ended</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">
    <img class = "img" src="<%=imgsrc%>" alt="image">
    <div class="container-text">
     <h1><%=namer%></h1> 
   <p><%=para%></p>    
      <span class=tail >This material is unofficial and is not endorsed by Supercell. For more information see Supercell's Fan Content Policy: www.supercell.com/fan-content-policy.</span>
  </div>
  </div>  
</body>
</html>
